<p id="notice"><%= notice %></p>

<p>
<strong><%= I18n.t('activerecord.attributes.word_src.name') %>:</strong>
  <%= @word_src.name %>
</p>

<p>
<strong><%= I18n.t('activerecord.attributes.word_src.create_person') %>:</strong>
  <%= @word_src.create_person %>
</p>

<%= link_to I18n.t('operate.edit'), edit_word_src_path(@word_src) %> |
<%= link_to I18n.t('operate.back'), word_srcs_path %>
