<p id="notice"><%= notice %></p>

<h1>Words</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Translation</th>
      <th>Phonetic</th>
      <th>Sentence</th>
      <th>Error count</th>
      <th>Try count</th>
      <th>Difficult coefficient</th>
      <th>Word src</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @words.each do |word| %>
      <tr>
        <td><%= word.name %></td>
        <td><%= word.translation %></td>
        <td><%= word.phonetic %></td>
        <td><%= word.sentence %></td>
        <td><%= word.error_count %></td>
        <td><%= word.try_count %></td>
        <td><%= word.difficult_coefficient %></td>
        <td><%= word.word_src %></td>
        <td><%= link_to 'Show', word %></td>
        <td><%= link_to 'Edit', edit_word_path(word) %></td>
        <td><%= link_to 'Destroy', word, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Word', new_word_path %>
