<p id="notice"><%= notice %></p>

<p>
<strong><%= I18n.t('activerecord.attributes.word.name') %>:</strong>
  <%= @word.name %>
</p>

<p>
<strong><%= I18n.t('activerecord.attributes.word.translation') %>:</strong>
  <%= @word.translation %>
</p>

<p>
<strong><%= I18n.t('activerecord.attributes.word.phonetic') %>:</strong>
  <%= @word.phonetic %>
</p>

<p>
<strong><%= I18n.t('activerecord.attributes.word.sentence') %>:</strong>
  <%= @word.sentence %>
</p>

<p>
<strong><%= I18n.t('activerecord.attributes.word.error_count') %>:</strong>
  <%= @word.error_count %>
</p>

<p>
<strong><%= I18n.t('activerecord.attributes.word.try_count') %>:</strong>
  <%= @word.try_count %>
</p>

<p>
<strong><%= I18n.t('activerecord.attributes.word.difficult_coefficient') %>:</strong>
  <%= @word.difficult_coefficient %>
</p>

<p>
<strong><%= I18n.t('activerecord.attributes.word.word_src') %>:</strong>
  <%= @word.word_src %>
</p>

<%= link_to I18n.t('operate.edit'), edit_word_path(@word) %> |
<%= link_to I18n.t('operate.back'), words_path %>
